
<div class="header">
  <a href="/"><img src="smalltitle.png"></a>


</div>

<div class="scrollableContainer">
  <div class="scrollingArea">
   <table class="shows scrollable">
    <thead>
     <th><div class="dateheader">Date</div></th>
     <th><div class="bandsheader">Bands</div></th>
     <th><div class="venueheader">Venue</div></th>
     <th><div class="timeheader">Time</div></th>
     <th><div class="ageheader">Ages</div></th>
     <th><div class="priceheader">Price</div></th>
     <th><div class="notesheader">Notes</div></th>
     <th><div class="recheader">Rec</div></th>
     <th><div class="emptyheader"></div></th>



    </thead>
    <tbody>
      <% @shows.each do |show| %>
      <% a = show.date %>
      <% if a == nil %>
      <% else %>
      <% if Date.parse(a) < Date.today %>
      <% else %>

        <% if show.cancelled == true %>
          <tr class="cancelled">
            <td class="date"><%= show.date %></td>
            <td class="bands"><%= show.bands %></td>
            <td class="venue"><%= show.venue %></td>
            <td class="time"><%= show.time %></td>
            <td><%= show.ages %></td>
            <td class="price"><%= show.price %></td>

            <td class="boolean">
            <% if show.pit != false %>
              Pit warning!
            <% else %>
            <% end %>
            <% if show.inout != false %>
              No in/out!
            <% else %>
            <% end %>
            <% if show.sellout != false %>
              Likely sell-out!
            <% else %>
            <% end %>
            <% if show.soldout != false %>
              SOLDOUT!
            <% else %>
            <% end %>
            </td>
            <td class="notes"><%= show.notes %></td>
            <td class="rec"><%= show.rec %></td>
            <td class="empty"></td>

          </tr>
        <% else %>
          <tr>
            <td class="date"><%= show.date %></td>
            <td class="bands"><%= show.bands %></td>
            <td class="venue"><%= show.venue %></td>
            <td class="time"><%= show.time %></td>
            <td><%= show.ages %></td>
            <td class="price"><%= show.price %></td>

            <td class="boolean">
            <% if show.pit != false %>
              Pit warning!
            <% else %>
            <% end %>
            <% if show.inout != false %>
              No in/out!
            <% else %>
            <% end %>
            <% if show.sellout != false %>
              Likely sell-out!
            <% else %>
            <% end %>
            <% if show.soldout != false %>
              SOLDOUT!
            <% else %>
            <% end %>
            </td>
            <td class="notes"><%= show.notes %></td>
            <td class="rec"><%= show.rec %></td>

            <td class="save">
              <% if user_signed_in? %>

              <%= link_to 'Save', {:controller => "shows",
                       :action => "save_show",
                       :user_id => current_user.id,
                       :show_id => show.id},
                       :method => "post" %></td>
              <% else %>
              <% end %>
            <td class="empty"></td>
          </tr>
        <% end %>
        <% end %>
                <% end %>

<!--       <td class="c1">
      <td class="c2">
      </td>
      <td class="c3"> -->

      <% end %>
    </tbody>
   </table>
 </div>
</div>



<!--   <tr>
    <th>Date</th>
    <th>Bands</th>
    <th>Venue</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Time</th>
    <th>Pit</th>
    <th>Inout</th>
    <th>Sellout</th>
    <th>Rec</th>
    <th>Soldout</th>
    <th>Notes</th>
    <th>Cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->



