
<%= include_gon %>

<%= javascript_tag do %>
  window.showsURL = '<%= j shows_url %>';
  console.log(window.showsURL);
<% end %>

<div class="header">
  <a href="/"><img src="smalltitle.png"></a>

</div>

   <div class="showheader">
<!--       <tr class="headerrow"> -->
        <div class="dateheader header">Date</div>
        <div class="bandsheader header">Bands</div>
        <div class="venueheader header">Venue</div>
        <div class="timeheader header">Time</div>
        <div class="ageheader header">Ages</div>
        <div class="priceheader header">Price</div>
        <div class="notesheader header">Notes</div>
        <div class="recheader header">Steve's Rec</div>
        <% if user_signed_in? %>
        <div class="saveheader header">Save</div>
        <% end %>
  </div

<div>
  <div class="scrollingArea">
   <table class="shows">
    <tbody>
      <% @shows.each do |show| %>
      <% a = show.date %>
      <% if a == nil %>
      <% else %>
      <% b = Date.parse(a).strftime('%a, %b %d') %>
      <% c = Date.parse(b) %>
        <% if c < Date.today %>
        <% else %>

          <% if show.cancelled == true %>
            <tr class="cancelled">
              <td class="date"><%= no_year show.date %></td>
              <td class="bands"><%= show.bands %></td>
              <td class="venue"><%= show.venue %></td>
              <td class="time"></td>
              <td></td>
              <td class="price"></td>
              <td class="boolean">
              </td>
              <td class="notes"><%= show.notes %></td>
              <td class="rec"></td>
              <td class="empty"></td>

            </tr>
          <% else %>
            <tr>
              <td class="date"><%= no_year show.date %></td>
              <td class="bands"><%= show.bands %></td>
              <td class="venue"><%= show.venue %></td>
              <td class="time"><%= show.time %></td>
              <td class="ages"><%= show.ages %></td>
              <td class="price"><%= show.price %></td>

              <td class="boolean">
              <% if show.pit != false %>
                Pit warning!
              <% else %>
              <% end %>
              <% if show.inout != false %>
                No in/out!
              <% else %>
              <% end %>
              <% if show.sellout != false %>
                Likely sell-out!
              <% else %>
              <% end %>
              <% if show.soldout != false %>
                SOLDOUT!
              <% else %>
              <% end %>
            </td>
            <td class="notes"><%= show.notes %></td>
            <td class="rec"><%= show.rec %></td>

            <td class="save">
              <% if user_signed_in? %>

              <%= link_to 'Save', {:controller => "shows",
                       :action => "save_show",
                       :user_id => current_user.id,
                       :show_id => show.id},
                       :method => "post" %></td>
              <% else %>
              <% end %>
<!--             <td class="empty"></td> -->
          </tr>
        <% end %>
        <% end %>
      <% end %>

<!--       <td class="c1">
      <td class="c2">
      </td>
      <td class="c3"> -->

      <% end %>
    </tbody>
   </table>
 </div>
</div>



<!--   <tr>
    <th>Date</th>
    <th>Bands</th>
    <th>Venue</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Time</th>
    <th>Pit</th>
    <th>Inout</th>
    <th>Sellout</th>
    <th>Rec</th>
    <th>Soldout</th>
    <th>Notes</th>
    <th>Cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->



