
<div class="header">
  <img src="smalltitle.png">

<%= "#{@user_id}" %>
</div>

<div class="scrollableContainer">
  <div class="scrollingArea">
   <table class="shows scrollable">
    <thead>
     <th><div class="date">Date</div></th>
     <th><div class="venue">Venue</div></th>
     <th><div class="bands">Bands</div></th>
     <th><div class="notes">Notes</div></th>
    </thead>
    <tbody>
      <% @shows.each do |show| %>
        <% if show.cancelled == true %>
          <tr class="cancelled">
            <td><%= show.date %></td>
            <td><%= show.bands %></td>
            <td><%= show.venue %></td>
            <td><%= show.ages %></td>
            <td><%= show.price %></td>
            <td><%= show.time %></td>
            <td><%= show.pit %></td>
            <td><%= show.inout %></td>
            <td><%= show.sellout %></td>
            <td><%= show.rec %></td>
            <td><%= show.soldout %></td>
            <td><%= show.notes %></td>

          </tr>
        <% else %>
          <tr>
            <td><%= show.date %></td>
            <td><%= show.bands %></td>
            <td><%= show.venue %></td>
            <td><%= show.ages %></td>
            <td><%= show.price %></td>
            <td><%= show.time %></td>
            <td><%= show.pit %></td>
            <td><%= show.inout %></td>
            <td><%= show.sellout %></td>
            <td><%= show.rec %></td>
            <td><%= show.soldout %></td>
            <td><%= show.notes %></td>
            <td>
              <% if user_signed_in? %>
              <%= link_to 'Save', {:controller => "shows",
                       :action => "save_show",
                       :user_id => @user.id,
                       :show_id => show.id},
                       :method => "post" %></td>
              <% else %>
              <% end %>

          </tr>
        <% end %>

<!--       <td class="c1">
      <td class="c2">
      </td>
      <td class="c3"> -->

      <% end %>
    </tbody>
   </table>
 </div>
</div>



<!--   <tr>
    <th>Date</th>
    <th>Bands</th>
    <th>Venue</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Time</th>
    <th>Pit</th>
    <th>Inout</th>
    <th>Sellout</th>
    <th>Rec</th>
    <th>Soldout</th>
    <th>Notes</th>
    <th>Cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->



