<h1>Listing shows</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Bands</th>
    <th>Venue</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Time</th>
    <th>Pit</th>
    <th>Inout</th>
    <th>Sellout</th>
    <th>Rec</th>
    <th>Soldout</th>
    <th>Notes</th>
    <th>Cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shows.each do |show| %>
  <tr>
    <td><%= show.date %></td>
    <td><%= show.bands %></td>
    <td><%= show.venue %></td>
    <td><%= show.ages %></td>
    <td><%= show.price %></td>
    <td><%= show.time %></td>
    <td><%= show.pit %></td>
    <td><%= show.inout %></td>
    <td><%= show.sellout %></td>
    <td><%= show.rec %></td>
    <td><%= show.soldout %></td>
    <td><%= show.notes %></td>
    <td><%= show.cancelled %></td>
    <td><%= link_to 'Show', show %></td>
    <td><%= link_to 'Edit', edit_show_path(show) %></td>
    <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Show', new_show_path %>
