


<%= javascript_tag do %>
  window.showsURL = '<%= j shows_url %>';
  console.log(window.showsURL);
<% end %>

<div class="header">
  <a href="/"><img src="smalltitle.png"></a>


</div>

<div class="toolbar">
  <input type="text" placeholder="e.g. pit, 21+, fleshies" class="search-input search"></input>
  <button class="search-btn search">Filter shows!</button>
</div>

 <div class="showheaderdiv">
      <div data-index=0 class="dateheader showheader">Date</div>
      <div data-index=1 class="bandsheader showheader">Bands</div>
      <div data-index=2 class="venueheader showheader">Venue</div>
      <div data-index=3 class="timeheader showheader">Time</div>
      <div data-index=4 class="ageheader showheader">Ages</div>
      <div data-index=5 class="priceheader showheader">Price</div>
      <div data-index=6 class="notesheader showheader">Notes</div>
      <div data-index=7 class="booleanheader showheader"></div>
      <div data-index=8 class="recheader showheader">Steve's Rec</div>
      <% if user_signed_in? %>
      <div data-index=9 class="saveheader showheader">Save</div>
      <% else %>
      <div data-index=9 class="saveheader showheader"></div>
      <% end %>
</div>

<div>
  <div class="scrollingArea">
   <table class="shows">
    <tbody>
      <% @shows.each do |show| %>
        <% a = show.date %>
        <% if a == nil %>
        <% else %>
        <% b = Date.parse(a).strftime('%a, %b %d') %>
        <% c = Date.parse(b) %>
          <% if c < Date.today %>
          <% else %>

            <% if show.cancelled == true %>
              <tr class="showtr cancelled">
                <td data-index=0 class="showtd date"><%= no_year show.date %></td>
                <td data-index=1 class="showtd bands"><%= show.bands %></td>
                <td data-index=2 class="showtd venue"><%= show.venue %></td>
                <td data-index=3 class="showtd time"></td>
                <td data-index=4 class="showtd ages"></td>
                <td data-index=5 class="showtd price"></td>
                <td data-index=6 class="showtd boolean"></td>
                <td data-index=7 class="showtd notes"><%= show.notes %></td>
                <td data-index=8 class="showtd rec"></td>
                <td data-index=9 class="showtd empty"></td>

              </tr>
            <% else %>
              <tr class="showtr">
                <td data-index=0 class="showtd date"><%= no_year show.date %></td>
                <td data-index=1 class="showtd bands"><%= show.bands %></td>
                <td data-index=2 class="showtd venue"><%= show.venue %></td>
                <td data-index=3 class="showtd time"><%= show.time %></td>
                <td data-index=4 class="showtd ages"><%= show.ages %></td>
                <td data-index=5 class="showtd price"><%= show.price %></td>
                <td data-index=6 class="showtd boolean">
                <% if show.pit != false %>
                  Pit warning!
                <% else %>
                <% end %>
                <% if show.inout != false %>
                  No in/out!
                <% else %>
                <% end %>
                <% if show.sellout != false %>
                  Likely sell-out!
                <% else %>
                <% end %>
                <% if show.soldout != false %>
                  SOLDOUT!
                <% else %>
                <% end %>
                </td>
                <td data-index=7 class="showtd notes"><%= show.notes %></td>
                <td data-index=8 class="showtd rec"><%= show.rec %></td>

                <td data-index=9 class="showtd save">
                <% if user_signed_in? %>

                <%= link_to 'Save', {:controller => "shows",
                         :action => "save_show",
                         :user_id => current_user.id,
                         :show_id => show.id},
                         :method => "post" %>
                </td>
                <% else %>
                <% end %>
  <!--             <td class="empty"></td> -->
            </tr>
          <% end %>
        <% end %>
      <% end %>

      <% end %>
    </tbody>
   </table>
 </div>
</div>



