
<div class="header">
  <a href="/"><img src="smalltitle.png"></a>

</div>

 <div class="showheaderdiv">
      <div data-index=0 class="dateheader showheader">Date</div>
      <div data-index=1 class="bandsheader showheader">Bands</div>
      <div data-index=2 class="venueheader showheader">Venue</div>
      <div data-index=3 class="timeheader showheader">Time</div>
      <div data-index=4 class="ageheader showheader">Ages</div>
      <div data-index=5 class="priceheader showheader">Price</div>
      <div data-index=6 class="notesheader showheader">Notes</div>
      <div data-index=7 class="booleanheader showheader"></div>
      <div data-index=8 class="recheader showheader">Steve's Rec</div>
      <% if user_signed_in? %>
      <div data-index=9 class="saveheader showheader">Save</div>
      <% else %>
      <div data-index=9 class="saveheader showheader"></div>
      <% end %>
</div>


<div>
  <div class="scrollingArea">
   <table class="shows">
    <tbody>

    <% if @savedshows == nil %>
    You haven't saved any shows.
    <%= link_to 'Back to shows', shows_path %>
    <% else %>
      <% @savedshows.each do |i| %>
      <% @work = Show.where(:id => i)%>
      <% @work.each do |show| %>
        <% if show.cancelled == true %>
          <tr class="cancelled">
            <td data-index=0 class="showtd date"><%= no_year show.date %></td>
            <td data-index=1 class="showtd bands"><%= show.bands %></td>
            <td data-index=2 class="showtd venue"><%= show.venue %></td>
            <td data-index=3 class="showtd time"></td>
            <td data-index=4 class="showtd ages"></td>
            <td data-index=5 class="showtd price"></td>
            <td data-index=6 class="showtd boolean"></td>
            <td data-index=7 class="showtd notes"><%= show.notes %></td>
            <td data-index=8 class="showtd rec"></td>
            <td data-index=9 class="showtd empty"></td>
          </tr>
        <% else %>
          <tr>
            <td data-index=0 class="showtd date"><%= no_year show.date %></td>
            <td data-index=1 class="showtd bands"><%= show.bands %></td>
            <td data-index=2 class="showtd venue"><%= show.venue %></td>
            <td data-index=3 class="showtd time"><%= show.time %></td>
            <td data-index=4 class="showtd ages"><%= show.ages %></td>
            <td data-index=5 class="showtd price"><%= show.price %></td>
            <td data-index=6 class="showtd boolean">
            <% if show.pit != false %>
              Pit warning!
            <% else %>
            <% end %>
            <% if show.inout != false %>
              No in/out!
            <% else %>
            <% end %>
            <% if show.sellout != false %>
              Likely sell-out!
            <% else %>
            <% end %>
            <% if show.soldout != false %>
              SOLDOUT!
            <% else %>
            <% end %>
            </td>
            <td data-index=7 class="showtd notes"><%= show.notes %></td>
            <td data-index=8 class="showtd rec"><%= show.rec %></td>

            <td data-index=9 class="showtd save">
        <% end %>

          </tr>
     <% end %>
     <% end %>
<!--       <td class="c1">
      <td class="c2">
      </td>
      <td class="c3"> -->

      <% end %>
    </tbody>
   </table>
 </div>
</div>



<!--   <tr>
    <th>Date</th>
    <th>Bands</th>
    <th>Venue</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Time</th>
    <th>Pit</th>
    <th>Inout</th>
    <th>Sellout</th>
    <th>Rec</th>
    <th>Soldout</th>
    <th>Notes</th>
    <th>Cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->



