
<div class="header">
  <a href="/"><img src="smalltitle.png"></a>


</div>

<div class="scrollableContainer">
  <div class="scrollingArea">
   <table class="shows scrollable">
    <thead>
     <th><div class="date">Date</div></th>
     <th><div class="venue">Venue</div></th>
     <th><div class="bands">Bands</div></th>
     <th><div class="notes">Notes</div></th>
    </thead>
    <tbody>



    <% if @savedshows == nil %>
    You haven't saved any shows.
    <%= link_to 'Back to shows', shows_path %>
    <% else %>
      <% @savedshows.each do |i| %>
      <% @work = Show.where(:id => i)%>
      <% @work.each do |show| %>
        <% if show.cancelled == true %>
          <tr class="cancelled">
            <td><%= show.date %></td>
            <td><%= show.bands %></td>
            <td class="venue"><%= show.venue %></td>
            <td class="time"><%= show.time %></td>
            <td><%= show.ages %></td>
            <td class="price"><%= show.price %></td>
            <% if show.pit != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <% if show.inout != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <% if show.sellout != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <td class="boolean"><%= show.rec %></td>
            <% if show.soldout != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <td class="notes"><%= show.notes %></td>

          </tr>
        <% else %>
          <tr>
            <td><%= show.date %></td>
            <td><%= show.bands %></td>
            <td class="venue"><%= show.venue %></td>
            <td class="time"><%= show.time %></td>
            <td><%= show.ages %></td>
            <td class="price"><%= show.price %></td>
            <% if show.pit != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <% if show.inout != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <% if show.sellout != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <td class="boolean"><%= show.rec %></td>
            <% if show.soldout != false %>
              <td class="boolean">X</td>
            <% else %>
              <td class="boolean"></td>
            <% end %>
            <td class="notes"><%= show.notes %></td>
            <td>
        <% end %>

          </tr>
     <% end %>
     <% end %>
<!--       <td class="c1">
      <td class="c2">
      </td>
      <td class="c3"> -->

      <% end %>
    </tbody>
   </table>
 </div>
</div>



<!--   <tr>
    <th>Date</th>
    <th>Bands</th>
    <th>Venue</th>
    <th>Ages</th>
    <th>Price</th>
    <th>Time</th>
    <th>Pit</th>
    <th>Inout</th>
    <th>Sellout</th>
    <th>Rec</th>
    <th>Soldout</th>
    <th>Notes</th>
    <th>Cancelled</th>
    <th></th>
    <th></th>
    <th></th>
  </tr> -->



