<!DOCTYPE html>

<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve Koepke's The List</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Thelistsf" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= include_gon(:init => true) %>

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>

    <div id="signin">
          <%= render 'layouts/navigation' %>
          <%= render 'layouts/messages' %>
    </div>







<!--       <div id="main" role="main"> -->
        <%= yield %>
<!--       </div> -->

    </div>
  </body>
</html>
